BODY {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; BACKGROUND: white; COLOR: #000000; FONT-FAMILY: arial,helvetica
}
A {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #003399; FONT-FAMILY: arial,helvetica; TEXT-DECORATION: underline
}
A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #003399; FONT-FAMILY: arial,helvetica; TEXT-DECORATION: underline
}
A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #003399; FONT-FAMILY: arial,helvetica; TEXT-DECORATION: underline
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 22pt; COLOR: #000000; FONT-FAMILY: arial,helvetica; TEXT-ALIGN: center
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #000000; FONT-FAMILY: arial,helvetica; TEXT-ALIGN: center
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #000000; FONT-FAMILY: arial,helvetica; TEXT-ALIGN: center
}
TD {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: arial,helvetica
}
TH {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: arial,helvetica; BACKGROUND-COLOR: #dddddd
}
BODY.EmailHeader {
	BACKGROUND: #bbbbbb
}
TD.IndexBody {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; BACKGROUND: white; COLOR: #000000; FONT-FAMILY: arial,helvetica
}
TD.Category {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-FAMILY: Arial, helvetica; BACKGROUND-COLOR: lightsteelblue
}
A.IndexPageCategory:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Arial, helvetica; BACKGROUND-COLOR: lightsteelblue; TEXT-DECORATION: none
}
A.IndexPageCategory:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Arial, helvetica; BACKGROUND-COLOR: lightsteelblue; TEXT-DECORATION: none
}
TD.SubCategory1 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-FAMILY: Arial, helvetica; BACKGROUND-COLOR: #dddddd
}
A.IndexPageSubCategory1:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Arial, helvetica; BACKGROUND-COLOR: #dddddd; TEXT-DECORATION: none
}
A.IndexPageSubCategory1:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Arial, helvetica; BACKGROUND-COLOR: #dddddd; TEXT-DECORATION: none
}
DIV.SubCategory2 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-TOP: 4pt; FONT-FAMILY: Arial, helvetica
}
TD.MenuHeading {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND-COLOR: #fff5cc
}
TD.Important {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ff0000; FONT-FAMILY: arial,helvetica
}
TD.ResultsHeading {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #dcdcdc
}
A.ResultsHeading:link {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #dcdcdc
}
A.ResultsHeading:visited {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #dcdcdc
}
TD.ResultsRequest {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; BACKGROUND-COLOR: #ffffda
}
TD.ResultsRequestGreen {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: green; BACKGROUND-COLOR: #ffffda
}
TD.ResultsRequestOrange {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: darkorange; BACKGROUND-COLOR: #ffffda
}
A.ResultsRequest:link {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; BACKGROUND-COLOR: #ffffda
}
A.ResultsRequest:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; BACKGROUND-COLOR: #ffffda
}
tD.ResultsTicket {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #ffffff
}
A.ResultsTicket:link {
	FONT-SIZE: 8pt; COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
A.ResultsTicket:visited {
	FONT-SIZE: 8pt; COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
TD.SectionHeading {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; BACKGROUND-COLOR: #dddddd
}
TD.SectionHeadingComment {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND-COLOR: #ffffda
}
TD.SectionHeadingText {
	FONT-SIZE: 10pt; BACKGROUND-COLOR: #ffffda
}
TD.Label {
	BACKGROUND-COLOR: #ffffda
}
TD.LabelSmallFont {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #ffffda
}
TD.GreyLabel {
	BACKGROUND-COLOR: #c0c0c0
}
TD.CMLabel {
	BACKGROUND-COLOR: #d9f5dc
}
TD.LabelSmall {
	FONT-SIZE: 9pt; COLOR: #ff0000; BACKGROUND-COLOR: #ffffff
}
TD.ReportStripe1 {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #ffffff
}
TD.ReportStripe2 {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #f6f6f6
}
TD.ReportStripeRed1 {
	FONT-SIZE: 8pt; COLOR: #ff0000; BACKGROUND-COLOR: #ffffff
}
TD.ReportStripeRed2 {
	FONT-SIZE: 8pt; COLOR: #ff0000; BACKGROUND-COLOR: #f6f6f6
}
TD.CommentsRed {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #ff0000; FONT-FAMILY: arial,helvetica
}
TD.Highlight {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #c0c0c0
}
A.Highlight:link {
	FONT-SIZE: 8pt; COLOR: #000000; BACKGROUND-COLOR: #c0c0c0
}
A.Highlight:visited {
	FONT-SIZE: 8pt; COLOR: #000000; BACKGROUND-COLOR: #c0c0c0
}
A.MainMenuHeading {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #333333; FONT-FAMILY: Arial,helvetica
}
A.MainMenuItem {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #666666; FONT-FAMILY: Arial,helvetica
}
TD.MainMenuHeading {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #333333; FONT-FAMILY: Arial,helvetica
}
TD.MainMenuItem {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #666666; FONT-FAMILY: Arial,helvetica
}
A.MainMenuHeading:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #333333; FONT-FAMILY: Arial,helvetica
}
A.MainMenuItem:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #666666; FONT-FAMILY: Arial,helvetica
}
TD.MainMenuHeading:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #333333; FONT-FAMILY: Arial,helvetica
}
TD.MainMenuItem:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #666666; FONT-FAMILY: Arial,helvetica
}
DIV.ListLetter {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; BACKGROUND-COLOR: #dcdcdc
}
A.Report1 {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #0000ff; FONT-FAMILY: arial,helvetica; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: underline
}
A.Report1:link {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #0000ff; FONT-FAMILY: arial,helvetica; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: underline
}
A.Report1:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #0000ff; FONT-FAMILY: arial,helvetica; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: underline
}
A.Report2 {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #0000ff; FONT-FAMILY: arial,helvetica; BACKGROUND-COLOR: #f6f6f6; TEXT-DECORATION: underline
}
A.Report2:link {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #0000ff; FONT-FAMILY: arial,helvetica; BACKGROUND-COLOR: #f6f6f6; TEXT-DECORATION: underline
}
A.Report2:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #0000ff; FONT-FAMILY: arial,helvetica; BACKGROUND-COLOR: #f6f6f6; TEXT-DECORATION: underline
}
TD.ReportTotal {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: right
}
TD.TestSystem {
	FONT-WEIGHT: normal; FONT-SIZE: 18pt; COLOR: #ffffff; FONT-FAMILY: arial,helvetica; BACKGROUND-COLOR: #ff0000; TEXT-ALIGN: center
}
TD.ToolTipText {
	FONT-SIZE: 8pt; FONT-FAMILY: arial,helvetica; BACKGROUND-COLOR: #ffffda
}
TD.ToolTipHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-FAMILY: arial,helvetica; BACKGROUND-COLOR: #ffffda
}
TD.ToolTipCaption {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-FAMILY: arial,helvetica; BACKGROUND-COLOR: #000080
}
A.TicketView1 {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: arial,helvetica; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: underline
}
A.TicketView1:link {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: arial,helvetica; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: underline
}
A.TicketView1:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: arial,helvetica; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: underline
}
A.TicketView2 {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: arial,helvetica; BACKGROUND-COLOR: #f6f6f6; TEXT-DECORATION: underline
}
A.TicketView2:link {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: arial,helvetica; BACKGROUND-COLOR: #f6f6f6; TEXT-DECORATION: underline
}
A.TicketView2:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: arial,helvetica; BACKGROUND-COLOR: #f6f6f6; TEXT-DECORATION: underline
}
A.TicketViewBlue1 {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #0000ff; FONT-FAMILY: arial,helvetica; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: underline
}
A.TicketViewBlue1:link {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #0000ff; FONT-FAMILY: arial,helvetica; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: underline
}
A.TicketViewBlue1:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #0000ff; FONT-FAMILY: arial,helvetica; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: underline
}
A.TicketViewBlue2 {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #0000ff; FONT-FAMILY: arial,helvetica; BACKGROUND-COLOR: #f6f6f6; TEXT-DECORATION: underline
}
A.TicketViewBlue2:link {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #0000ff; FONT-FAMILY: arial,helvetica; BACKGROUND-COLOR: #f6f6f6; TEXT-DECORATION: underline
}
A.TicketViewBlue2:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #0000ff; FONT-FAMILY: arial,helvetica; BACKGROUND-COLOR: #f6f6f6; TEXT-DECORATION: underline
}
TD.TicketView1 {
	FONT-SIZE: 8pt; COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
TD.TicketView2 {
	FONT-SIZE: 8pt; COLOR: #000000; BACKGROUND-COLOR: #f6f6f6
}
TD.TicketViewBlue1 {
	FONT-SIZE: 8pt; COLOR: #0000ff; BACKGROUND-COLOR: #ffffff
}
TD.TicketViewBlue2 {
	FONT-SIZE: 8pt; COLOR: #0000ff; BACKGROUND-COLOR: #f6f6f6
}
UL {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 1px 15px; TEXT-INDENT: 0px; PADDING-TOP: 1px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-POSITION: outside; PADDING-BOTTOM: 0px; MARGIN: 0px; TEXT-INDENT: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: disc
}
INPUT.TextReadOnly {
	FONT-SIZE: 8pt; FONT-FAMILY: arial,helvetica; BACKGROUND-COLOR: #ffffff
}
INPUT.ControlText {
	FONT-SIZE: 8pt; FONT-FAMILY: arial,helvetica
}
INPUT.TextBox1 {
	BORDER-RIGHT: silver 1px solid; BORDER-TOP: silver 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: silver 1px solid; COLOR: dimgray; BORDER-BOTTOM: silver 1px solid; FONT-FAMILY: Verdana, Arial
}
INPUT.Btn1 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; CURSOR: hand; COLOR: white; PADDING-TOP: 2px; BACKGROUND-COLOR: darkgray
}
INPUT.BtnSmall {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 7pt; PADDING-BOTTOM: 2px; CURSOR: hand; COLOR: white; PADDING-TOP: 2px; BACKGROUND-COLOR: darkgray
}
SELECT.Select1 {
	FONT-SIZE: 8pt; COLOR: dimgray; FONT-FAMILY: Verdana, Arial
}
TD.TicketViewGreen1 {
	FONT-SIZE: 8pt; COLOR: green; BACKGROUND-COLOR: #ffffff
}
TD.TicketViewOrange1 {
	FONT-SIZE: 8pt; COLOR: darkorange; BACKGROUND-COLOR: #ffffff
}
TD.TicketViewGreen2 {
	FONT-SIZE: 8pt; COLOR: green; BACKGROUND-COLOR: #f6f6f6
}
TD.TicketViewOrange2 {
	FONT-SIZE: 8pt; COLOR: darkorange; BACKGROUND-COLOR: #f6f6f6
}
.ReadOnlySpan {
	BORDER-RIGHT: #ffffff 0px; BORDER-TOP: #ffffff 0px; FONT-SIZE: 11px; BORDER-LEFT: #ffffff 0px; CURSOR: hand; COLOR: #000000; BORDER-BOTTOM: #ffffff 0px; FONT-FAMILY: Arial, Helvetica
}
.StyleForm {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
.SectionStyle {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; WIDTH: 500px; BORDER-BOTTOM: 1px solid; HEIGHT: 300px
}
